.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background-color: #2a2a2a;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; /* Added to position the close button */
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}

.blur-background {
  filter: blur(10px);
}
