.team-member {
  position: relative;
  text-align: center;
}

.team-member-photo {
  position: relative;
  overflow: hidden;
  filter: brightness(50%);
  transition: filter 0.3s ease-in-out;
}

.team-member-photo img {
  display: block;
  width: 100%;
  height: auto;
  transition: transform 0.3s ease-in-out;
}

.team-member-photo:hover {
  filter: brightness(100%);
}

.team-member-photo:hover img {
  transform: scale(1.1);
}


.team-member-photo:hover .peel-effect {
  width: 100%;
  height: 100%;
}

.team-member-name {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.25rem;
  color: #fff;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.team-member-photo:hover .team-member-name {
  opacity: 1;
}

@import url('https://fonts.googleapis.com/css?family=Libre+Franklin:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap'); 
@font-face { 
  font-family:"Material Design Icons";
  src:url("https://shreethemes.in/upcover/layouts/assets/libs/@mdi/font/fonts/materialdesignicons-webfont.eot?v=7.3.67");
  src:url("https://shreethemes.in/upcover/layouts/assets/libs/@mdi/font/fonts/materialdesignicons-webfont.eot?#iefix&v=7.3.67") format("embedded-opentype"),url("https://shreethemes.in/upcover/layouts/assets/libs/@mdi/font/fonts/materialdesignicons-webfont.woff2?v=7.3.67") format("woff2"),url("https://shreethemes.in/upcover/layouts/assets/libs/@mdi/font/fonts/materialdesignicons-webfont.woff?v=7.3.67") format("woff"),url("https://shreethemes.in/upcover/layouts/assets/libs/@mdi/font/fonts/materialdesignicons-webfont.ttf?v=7.3.67") format("truetype");
  font-weight:normal;
  font-style:normal;
} 
  body {  
    line-height:1.5;
    font-size:15px!important;
    color:rgb(255 255 255 / var(--tw-text-opacity))!important;
    font-family:ui-sans-serif,system-ui,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  }  
body { 
/* CSS Variables that may have been missed get put on body */ 
    --tw-translate-x:  0;  
    --tw-translate-y:  0;  
    --tw-rotate:  0;  
    --tw-skew-x:  0;  
    --tw-skew-y:  0;  
    --tw-scale-x:  1;  
    --tw-scale-y:  1;  
    --tw-ring-offset-shadow:  0 0 #0000;  
    --tw-ring-shadow:  0 0 #0000;  
    --tw-shadow:  0 0 #0000;  
    --tw-shadow-colored:  0 0 #0000; 
    --tw-bg-opacity:  1!important;  
    --tw-text-opacity:  1!important;  
    --tw-translate-x:  0;  
    --tw-translate-y:  0;  
    --tw-rotate:  0;  
    --tw-skew-x:  0;  
    --tw-skew-y:  0;  
    --tw-scale-x:  1;  
    --tw-scale-y:  1;  
    --tw-ring-offset-shadow:  0 0 #0000;  
    --tw-ring-shadow:  0 0 #0000;  
    --tw-shadow:  0 0 #0000;  
    --tw-shadow-colored:  0 0 #0000; 
    --tw-translate-x:  0;  
    --tw-translate-y:  0;  
    --tw-rotate:  0;  
    --tw-skew-x:  0;  
    --tw-skew-y:  0;  
    --tw-scale-x:  1;  
    --tw-scale-y:  1;  
    --tw-ring-offset-shadow:  0 0 #0000;  
    --tw-ring-shadow:  0 0 #0000;  
    --tw-shadow:  0 0 #0000;  
    --tw-shadow-colored:  0 0 #0000; 
    --tw-text-opacity:  1!important;  
    --tw-bg-opacity:  1!important;  
    --tw-text-opacity:  1!important;  
    --tw-translate-y:  50%!important;  
    --tw-gradient-from:  #14b8a6 var(--tw-gradient-from-position)!important;  
    --tw-gradient-to:  rgb(20 184 166 / 0) var(--tw-gradient-to-position)!important;  
    --tw-gradient-stops:  var(--tw-gradient-from),var(--tw-gradient-to)!important; 
    --tw-gradient-to:  rgb(20 184 166 / 0) var(--tw-gradient-to-position)!important;  
    --tw-gradient-stops:  var(--tw-gradient-from),rgb(20 184 166 / 0.7) var(--tw-gradient-via-position),var(--tw-gradient-to)!important; 
    --tw-gradient-to:  rgb(20 184 166 / 0.2) var(--tw-gradient-to-position)!important; 
    --tw-shadow:  0 5px 13px rgb(60 72 88 / 0.20)!important;  
    --tw-shadow-colored:  0 5px 13px var(--tw-shadow-color)!important;  
    --tw-shadow-color:  rgb(20 184 166 / 0.1)!important;  
    --tw-shadow:  var(--tw-shadow-colored)!important; 
    --tw-translate-x:  -50%!important;  
    --tw-translate-x:  0px!important;  
} 

* { 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box; 
    border: 0 solid #e5e7eb; 
    --tw-translate-x: 0; 
    --tw-translate-y: 0; 
    --tw-rotate: 0; 
    --tw-skew-x: 0; 
    --tw-skew-y: 0; 
    --tw-scale-x: 1; 
    --tw-scale-y: 1; 
    --tw-ring-offset-shadow: 0 0 #0000; 
    --tw-ring-shadow: 0 0 #0000; 
    --tw-shadow: 0 0 #0000; 
    --tw-shadow-colored: 0 0 #0000;
} 

body { 
    margin: 0; 
    line-height: inherit;
} 

body { 
    font-size: 15px; 
    --tw-text-opacity: 1; 
    color: rgb(22 28 45 / var(--tw-text-opacity));
} 

:is(:where(.dark) .dark\:bg-slate-900) { 
    --tw-bg-opacity: 1!important; 
    background-color: rgb(15 23 42 / var(--tw-bg-opacity))!important;
} 

:is(:where(.dark) .dark\:text-white) { 
    --tw-text-opacity: 1!important; 
    color: rgb(255 255 255 / var(--tw-text-opacity))!important;
} 

html { 
    line-height: 1.5; 
    -webkit-text-size-adjust: 100%; 
    -moz-tab-size: 4; 
    -o-tab-size: 4; 
    tab-size: 4; 
    font-family: ui-sans-serif,system-ui,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"; 
    -webkit-font-feature-settings: normal; 
    font-feature-settings: normal; 
    font-variation-settings: normal; 
    -webkit-tap-highlight-color: transparent;
} 

html { 
    scroll-behavior: smooth;
} 

.relative { 
    position: relative!important;
} 

.overflow-hidden { 
    overflow: hidden!important;
} 

.bg-teal-500\/5 { 
    background-color: rgb(20 184 166 / .05)!important;
} 

.py-40 { 
    padding-top: 10rem!important; 
    padding-bottom: 10rem!important;
} 

@media (min-width: 768px){ 
  .md\:py-48 { 
    padding-top: 12rem!important; 
    padding-bottom: 12rem!important;
  } 
}     

:is(:where(.dark) .dark\:bg-teal-500\/20) { 
    background-color: rgb(20 184 166 / .2)!important;
} 

*,:after,:before { 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box; 
    border: 0 solid #e5e7eb; 
    --tw-translate-x: 0; 
    --tw-translate-y: 0; 
    --tw-rotate: 0; 
    --tw-skew-x: 0; 
    --tw-skew-y: 0; 
    --tw-scale-x: 1; 
    --tw-scale-y: 1; 
    --tw-ring-offset-shadow: 0 0 #0000; 
    --tw-ring-shadow: 0 0 #0000; 
    --tw-shadow: 0 0 #0000; 
    --tw-shadow-colored: 0 0 #0000;
} 

:backdrop { 
    --tw-translate-x: 0; 
    --tw-translate-y: 0; 
    --tw-rotate: 0; 
    --tw-skew-x: 0; 
    --tw-skew-y: 0; 
    --tw-scale-x: 1; 
    --tw-scale-y: 1; 
    --tw-ring-offset-shadow: 0 0 #0000; 
    --tw-ring-shadow: 0 0 #0000; 
    --tw-shadow: 0 0 #0000; 
    --tw-shadow-colored: 0 0 #0000;
} 

.container { 
    width: 100%; 
    margin-right: auto; 
    margin-left: auto; 
    padding-right: 12px; 
    padding-left: 12px;
} 

@media (min-width: 540px){ 
  .container { 
    max-width: 540px;
  } 
}     

@media (min-width: 640px){ 
  .container { 
    max-width: 640px; 
    padding-right: 1rem; 
    padding-left: 1rem;
  } 
}     

@media (min-width: 768px){ 
  .container { 
    max-width: 768px;
  } 
}     

@media (min-width: 992px){ 
  .container { 
    max-width: 992px;
  } 
}     

@media (min-width: 1024px){ 
  .container { 
    max-width: 1024px; 
    padding-right: 45px; 
    padding-left: 45px;
  } 
}     

@media (min-width: 1280px){ 
  .container { 
    max-width: 1280px; 
    padding-right: 5rem; 
    padding-left: 5rem;
  } 
}     

@media (min-width: 1536px){ 
  .container { 
    max-width: 1536px; 
    padding-right: 13rem; 
    padding-left: 13rem;
  } 
}     

.mt-8 { 
    margin-top: 2rem!important;
} 

.grid { 
    display: grid!important;
} 

.grid-cols-1 { 
    grid-template-columns: repeat(1,minmax(0,1fr))!important;
} 

.items-center { 
    -webkit-box-align: center!important; 
    -ms-flex-align: center!important; 
    align-items: center!important;
} 

.gap-6 { 
    gap: 1.5rem!important;
} 

@media (min-width: 768px){ 
  .md\:grid-cols-2 { 
    grid-template-columns: repeat(2,minmax(0,1fr))!important;
  } 
}     

@media (min-width: 1024px){ 
  .lg\:ms-8 { 
    -webkit-margin-start: 2rem!important; 
    margin-inline-start: 2rem!important;
  } 
}     

h1 { 
    font-size: inherit; 
    font-weight: inherit;
} 

h1 { 
    margin: 0;
} 

h1 { 
    font-family: "Libre Franklin",sans-serif;
} 

.mb-5 { 
    margin-bottom: 1.25rem!important;
} 

.text-4xl { 
    font-size: 2.25rem!important; 
    line-height: 2.5rem!important;
} 

.font-semibold { 
    font-weight: 600!important;
} 

.leading-normal { 
    line-height: 1.5!important;
} 

.tracking-wide { 
    letter-spacing: .025em!important;
} 

@media (min-width: 1024px){ 
  .lg\:text-5xl { 
    font-size: 3rem!important; 
    line-height: 1!important;
  } 

  .lg\:leading-normal { 
    line-height: 1.5!important;
  } 
}     

p { 
    margin: 0;
} 

p { 
    line-height: 1.625;
} 

.max-w-xl { 
    max-width: 36rem!important;
} 

.text-lg { 
    font-size: 17px!important; 
    line-height: 28px!important;
} 

.text-slate-400 { 
    --tw-text-opacity: 1!important; 
    color: rgb(148 163 184 / var(--tw-text-opacity))!important;
} 

.mt-6 { 
    margin-top: 1.5rem!important;
} 

a { 
    color: inherit; 
    text-decoration: inherit;
} 

.inline-flex { 
    display: -webkit-inline-box!important; 
    display: -ms-inline-flexbox!important; 
    display: inline-flex!important;
} 

.h-10 { 
    height: 2.5rem!important;
} 

.justify-center { 
    -webkit-box-pack: center!important; 
    -ms-flex-pack: center!important; 
    justify-content: center!important;
} 

.rounded-md { 
    border-radius: .375rem!important;
} 

.bg-teal-500 { 
    --tw-bg-opacity: 1!important; 
    background-color: rgb(20 184 166 / var(--tw-bg-opacity))!important;
} 

.px-6 { 
    padding-left: 1.5rem!important; 
    padding-right: 1.5rem!important;
} 

.font-medium { 
    font-weight: 500!important;
} 

.text-white { 
    --tw-text-opacity: 1!important; 
    color: rgb(255 255 255 / var(--tw-text-opacity))!important;
} 

img { 
    display: block; 
    vertical-align: middle;
} 

img { 
    max-width: 100%; 
    height: auto;
} 

.top-16 { 
    top: 4rem!important;
} 

.absolute { 
    position: absolute!important;
} 

.bottom-1\/2 { 
    bottom: 50%!important;
} 

.start-1\/2 { 
    inset-inline-start: 50%!important;
} 

.-z-1 { 
    z-index: -1!important;
} 

.size-\[400px\] { 
    width: 400px!important; 
    height: 400px!important;
} 

.translate-y-1\/2 { 
    --tw-translate-y: 50%!important; 
    -webkit-transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))!important; 
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))!important;
} 

.rounded-full { 
    border-radius: 9999px!important;
} 

.bg-gradient-to-tl { 
    background-image: -webkit-gradient(linear,right bottom,left top,from(var(--tw-gradient-stops)))!important; 
    background-image: linear-gradient(to top left,var(--tw-gradient-stops))!important;
} 

.from-teal-500 { 
    --tw-gradient-from: #14b8a6 var(--tw-gradient-from-position)!important; 
    --tw-gradient-to: rgb(20 184 166 / 0) var(--tw-gradient-to-position)!important; 
    --tw-gradient-stops: var(--tw-gradient-from),var(--tw-gradient-to)!important;
} 

.via-teal-500\/70 { 
    --tw-gradient-to: rgb(20 184 166 / 0) var(--tw-gradient-to-position)!important; 
    --tw-gradient-stops: var(--tw-gradient-from),rgb(20 184 166 / 0.7) var(--tw-gradient-via-position),var(--tw-gradient-to)!important;
} 

.to-teal-500\/20 { 
    --tw-gradient-to: rgb(20 184 166 / 0.2) var(--tw-gradient-to-position)!important;
} 

.shadow-md { 
    --tw-shadow: 0 5px 13px rgb(60 72 88 / 0.20)!important; 
    --tw-shadow-colored: 0 5px 13px var(--tw-shadow-color)!important; 
    -webkit-box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)!important; 
    box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)!important;
} 

.shadow-teal-500\/10 { 
    --tw-shadow-color: rgb(20 184 166 / 0.1)!important; 
    --tw-shadow: var(--tw-shadow-colored)!important;
} 

@media (min-width: 768px){ 
  .md\:start-0 { 
    inset-inline-start: 0px!important;
  } 

  .md\:size-\[500px\] { 
    width: 500px!important; 
    height: 500px!important;
  } 
}     

:is(:where([dir="ltr"]) .ltr\:-translate-x-1\/2) { 
    --tw-translate-x: -50%!important; 
    -webkit-transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))!important; 
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))!important;
} 

@media (min-width: 768px){ 
  :is(:where([dir="ltr"]) .ltr\:md\:translate-x-0) { 
    --tw-translate-x: 0px!important; 
    -webkit-transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))!important; 
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))!important;
  } 
}     

.ms-1 { 
    -webkit-margin-start: 0.25rem!important; 
    margin-inline-start: .25rem!important;
} 

.mdi:before,.mdi-set { 
    display: inline-block; 
    font: normal normal normal 24px/1 "Material Design Icons"; 
    font-size: inherit; 
    text-rendering: auto; 
    line-height: inherit; 
    -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale;
} 

.mdi-chevron-right:before { 
    content: "\F0142";
} 

.custom-position {
  object-position: 0%  0px;
}

