.btn-hover-effect {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: medium;
  background-color: transparent;
  color: white;
  border-radius: 0.25rem;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}

.btn-hover-effect:hover {
  background-color: #1a1a1a;
  color: white;
}

.btn-register {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: medium;
  background-color: #cbd5e1;
  color: #1a202c;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  transition: background-color 0.3s, color 0.3s;
}

.btn-register:hover {
  background-color: #2563eb; /* Cambié el color a blue-600 */
  color: white;
}
